<div class="issues-homepage-container">
    <button>Search: open issues</button>

    <table>
        <tr>
            <div class="table-heading">
                <p>484 Open</p>
                <p>500 Closed</p>
                <p>Labels Filter</p>
            </div>
        </tr>
        <tr>
            <td routerLink="/detail-page">Issue 1</td>
        </tr>
        <tr>
            <td routerLink="/detail-page">Issue 2</td>
        </tr>
        <tr>
            <td routerLink="/detail-page">Issue 3</td>
        </tr>
        <tr>
            <td routerLink="/detail-page">Issue 4</td>
        </tr>
        <tr>
            <td routerLink="/detail-page">Issue 5</td>
        </tr>
    </table>

    <div class="pagination">
        <a routerLink="/">Previous</a>
        <a routerLink="/">1</a>
        <a routerLink="/">2</a>
        <a routerLink="/">3</a>
        <a routerLink="/">Next</a>
    </div>
</div>
